/* Custom CSS */

/* Classes */
.message-container {
	color: black;

}

.message {
	height: auto;
	padding: 50px;
}

.message-bottom {

}

.message-bottom a {
	float: right;
}

.message-bottom button {
	float: right;
}

.container {
	margin: 20%;
}

/* ID Selectors*/
#name {
	float: right;
}