/* Custom CSS */

/* Classes */
@media (min-width: 600px) {
    .message-container {
        background-color: #04326E;
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 300px;
        justify-content: flex-end;
        align-items: center;
    }

    .message-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .message-container {
        background-color: #04326E;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 300px;
        justify-content: flex-end;
    }

    .message-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}

.message-footer-item {
    justify-content: center;
    width: 100%;
    flex-basis: 50%;
    text-align: center;
    color: white;
}

.message-footer-item p {
    margin: 5px;
}

/* ID Selectors */
#button-random {
    background-color: #A86800;
    transition: background-color 1s;
}

#button-random:hover {
    background-color: #d88500;
    transition: background-color 1s;
}

#button-twitter {
    background-color: #1DA1F2;
    transition: background-color 1s;
}

#button-twitter:hover {
    background-color: #4fbbff;
    transition: background-color 1s;
}

#top-bar {
    background-color: white;
    width: 100%;
    height: 4px;
}

/* Element Selectors */
