/* Custom CSS */

/* Classes */
.message-container {
    color: black;
    padding: 10px;
    background-color: grey;
}

.message {
    height: auto;
    padding: 50px;
    overflow: auto;
}

.message-bottom {

}

.message-bottom a {
    float: right;
}

.message-bottom span {
    float:  right;
}

.container {
    margin: 20%;
}

/* ID Selectors*/
#name {
    float: right;
}