/* 
    File: style.css
    Author: Ross Kett
    Usage: Colour, animations, and interactions.
*/

/* 
    Element Selectors 
*/
p {
    color: #ffffff;
    font-size: 1.5em;
    font-family: Helvetica;
}

a {
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

/* 
    Classes
*/
.message-container {
    box-shadow: 0px 3px 2px #dee0e2;
    background-color: #303133;
}

/* 
    ID Selectors 
*/
#button-random {
    background-color: #A86800;
    transition: background-color 1s;
}

#button-random:hover {
    background-color: #d88500;
    transition: background-color 1s;
}

#button-twitter {
    background-color: #1DA1F2;
    transition: background-color 1s;
}

#button-twitter:hover {
    background-color: #4fbbff;
    transition: background-color 1s;
}

